@charset "utf-8";

a:hover {
  opacity: 0.7;
  transition: 0.5s;
}

body{
  font-family:'Noto Sans JP';
}

button{
  background: none;
  border:none;
}

ul {
  list-style: none;
}

/* header */

.h1{
  font-weight: bold;
}

.header__row{
  margin-top: 1%;
  font-weight: bold;
  margin-left: 2%;
  margin-right: 5%;
}

.header__content{
  text-align: center;
}

/*ハンバーガーメニューCSS*/

.menubtn{
  width:100%;
  max-width: 50px;
  position: fixed;
  z-index: 999;
}
.w1000{
  display: none;
  max-width:992px;
  margin: 0 auto;
  position: relative;
  height:100%;
}
nav{
  background-color:#ccc;
  padding:80px 3% 20px;
  position: absolute;
  height:100%;
  width:100%;
  color:#FFFFFF;
}
.content{
  padding-top: 60px
}

@media screen and (max-width:992px){

  .header__row{
   display:none;
  }

  .w1000{
  display: block;
  }
}

/* mv */

.mv{
  background: url(../img/mv_img.png) no-repeat center;
  background-size: cover;
  height: auto;
  max-height: 799px;
}

.mv .container{
  text-align: center;
}

.mv h2{
  color:#FFFFFF;
  font-size: 53px;
  padding-top: 15%;
}

.mv h3{
  color:#FFFFFF;
  font-size: 32px;
  padding-top: 5%;
}

.mv h4{
  color:#FFFFFF;
  font-size: 29px;
  padding-top: 5%;
}

.mv__content{
  margin:0 auto;
  width:15%;
 padding-top: 10%;
 padding-bottom: 10%;
}

/* about */

.about .container{
  text-align: center;
}

.about h2{
  padding-top: 2%;
  padding-bottom: 2%;
}

.about h3{
  padding-bottom: 2%;
}

.about p{
  padding-bottom: 5%;
}

/* photo */

.photo .container-fluid{
  display: flex;
  justify-content: center;
}

.photo__content{
  flex-basis:20%;
  width:100%;
}

@media screen and (max-width:576px){

  .photo .container-fluid{
    flex-direction: column;
    align-items: center;
  }
}

/* trainer */

.trainer{
  background:url(../img/trainer_bg.png) no-repeat center;
  background-size: cover;
  background-color: #BAB9B5;;
  height: 110vh;
  max-height: 992px;
}

.trainer h2{
  color:#FFFFFF;
  text-align: left;
  padding-top: 15%;
  padding-left: 10%;
}

.trainer p{
  color:#FFFFFF;
  padding-top: 5%;
  padding-left: 10%;
  font-size: 20px;
  text-align: left;
}

/* owner */

.owner{
  background:url(../img/owner-bg.png) no-repeat top center;
  background-size: cover;
  background-color: #BAB9B5;
  height: auto;
  max-height: 470px;
}

.owner h2{
  color:#FFFFFF;
  padding-left: 10%;
}

.owner p{
  color:#FFFFFF;
  padding-top: 5%;
  padding-left: 10%;
  font-size: 20px;
}

@media screen and (max-width:768px){

  .owner .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .owner h2{
    padding-top:5%;
  }
}

/* user */

.user{
  background:url(../img/user_bg.png) no-repeat center;
  background-size: cover;
  background-color: #BAB9B5;
  height: 110vh;
  max-height: 1008px;
}

.user .container{
  text-align: center;
}

.user h2{
  color:#FFFFFF;
  padding-top: 30%;
  padding-left: 10%;
}

.user p{
  color:#FFFFFF;
  padding-top: 5%;
  padding-left: 10%;
  font-size: 20px;
}

@media screen and (max-width:768px){
  .user h2{
    padding-top: 50%;
  }
}

/* footer */
ul{
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
  padding-bottom: 2%;
}

